* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

.container {
    display: flex;
    height: 700px;
    background-color: blue;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 200px;
    /* height: 100px; */
    background-color: #fff;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}